#countlabel{
  display: block;
  text-align: center;
  font-size: 5em;
}
.box{
  background-color: aqua;
  height: 300px;
  width: 500px;
  border-radius: 100px;
  text-align: center;
  margin: 0 auto;

}
#btncontainer{
  text-align: center;
}
.buttons{
padding: 10px 20px;
font-size: 1.5em;
color: white;
background-color: hsl(214, 100%, 74%);
border-radius: 5px;
cursor: pointer;
transition: background-color 0.25s;
}
.buttons:hover{
  background-color: hsl(214, 100%, 56%);
}
h1{
  color: rgb(35, 4, 76);
  text-align: center;
  font-weight: bold;
}